<div class="row Component">
    <div *ngIf="!usuarios" class="cargando">
        Cargando...
    </div>
    <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-6 mx-auto">
        <div *ngIf="!usuarios" class="cargando">
            Cargando...
        </div>

        <div class="card usuariosCards" *ngFor="let user of usuarios">
            <div class="card-body d-flex">
                <div>
                    <div class="imgUser">
                        <img [src]="'http://localhost:3000/' + user.imagePath" class="img-card-top w-100">
                    </div>
                </div>
                <div class="usersInfo">
                    <p class="card-text fw-bold">{{user.email}}</p>
                    <span class="text-muted">{{user.surname}}</span>
                </div>
                <div class="ButtonsFollows" *ngIf="user._id != identify._id">
                    <button *ngIf="followeds.indexOf(user._id) == -1" class="btn btn-success"
                        (click)="addFollow(user._id)">
                        Seguir
                    </button>
                    <button *ngIf="followeds.indexOf(user._id) >= 0" class="btn btnColor"
                        (mouseover)="isOverButton(user._id)" (mouseleave)="leavingButton(user._id)"
                        [class.btn-danger]="user._id == isOver" (click)="deleteFollow(user._id)">
                        <span *ngIf="user._id == isOver; else noOver">
                            <span>Dejar de seguir</span>
                        </span>
                        <ng-template #noOver>
                            <span>Siguiendo</span>
                        </ng-template>
                    </button>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills float-end navegationUsers">
            <li class="nav-item border navsItems mx-1" *ngIf="page > 1">
                <a  (click)="moveBack(true)" class="nav-link btn btn-primary" [routerLink]="['/usuarios', prevPage]"
                    [routerLinkActive]="['active']"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item navsItems" *ngIf="page != pages">
                <a  (click)="moveForward(true)" class="nav-link btn btn-primary" [routerLink]="['/usuarios', nextPage]"
                    [routerLinkActive]="['active']"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>