<div *ngFor="let messagge of messaggess" class="card mb-3 envRec">
    <div class="card-header d-flex align-items-center headerMsj text-white">
        {{messagge.emitter.surname}} envia a: {{messagge.reciever.surname}}
        <div class="imageHeader mx-2">
            <img [src]="'http://localhost:3000/' + messagge.reciever.imagePath" class="img-card-top">
        </div>
    </div>
    <div class="card-body">
        <div class="imgUser">
            <img [src]="'http://localhost:3000/' + messagge.emitter.imagePath" class="img-card-top">
        </div>
        <span class="card-text textEnviados">{{messagge.emitter.surname}} dice:</span>
        <div>
            <p class="card-tex textEnviados">{{messagge.text}}</p>
        </div>
    </div>
</div>