<div class="row Component decorComponent">
    <div *ngIf="success" class="alert alert-primary text-center text-uppercase text-white" role="alert">
        Te has logueado exitosamente.
      </div>

      <div *ngIf="noUser" class="alert alert-danger text-center text-uppercase text-white" role="alert">
        Este usuario no existe, <a [routerLink]="['/register']">Regístrate.</a>
      </div>
      
      <div *ngIf="noDatos" class="alert alert-warning text-center text-uppercase text-white" role="alert">
          Datos incompletos.
      </div>

        <div class="card">
            <div>
                <h4 class="text-center card-text text-white">Login</h4>
            </div>
            <div class="card-body">
                <form #formularioLogin="ngForm" (ngSubmit)="envioLogin(formularioLogin)">
                    <div class="form-group my-3">
                        <input type="email" name="email" #email="ngModel" placeholder="Email"
                        class="form-control" [(ngModel)]="usuario.email">
                    </div>
                    <div class="form-group my-3">
                        <input type="password" name="password" #password="ngModel" placeholder="Password"
                        class="form-control" [(ngModel)]="usuario.password">
                    </div>
                    <div class="d-grid my-3">
                        <button class="btn btnColor">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
</div>
