<div class="Component decorComponent">
    <div class="jumbotron border border-info rounded">
        <h2 class="display-xs-3  mb-3"><b>Bienvenido a MySocialApp</b></h2>
        <p class="lead text-muted">Esta es una sencilla plataforma hecha en Angular 13 donde puedes compartir
            contenido multimedia, cuenta con
            un sistema de follows y mensajeria
            donde podras elegir a cualquier usuario que desees seguir para ver su contenido y estar en
            comunicacion, este pequeño pero bien fundamentado proyecto apenas empieza
            y viene con sus mejoras y nuevas versiones, esperamos sea de tu agrado y utilidad.
        </p>
        <hr class="my-4">
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id velit inventore hic odio quod! Voluptates
        </p>
        <p class="lead">
            <button class="btn btnAbout btn-lg">
                <span *ngIf="!identify; else identificado">
                    <a [routerLink]="['/register']" role="button" class="text-decoration-none text-white">Regístrate</a>
                </span>
                <ng-template #identificado>
                    <span> 
                    <a [routerLink]="['/inicio']" role="button" class="text-decoration-none text-white">Ir a inicio</a>
                    </span>
                </ng-template>
            </button>
        </p>
    </div>
</div>