<div *ngIf="messagess.length == 0">
    <div class="alert alert-danger" role="alert">
        <p class="card-text text-center">No has enviado ningun mensaje</p>
    </div>
</div>


<div *ngFor="let messagge of messagess" class="card mb-3 envRec">
    <div class="card-header d-flex align-items-center headerMsj text-white">
        Enviado a: {{messagge.reciever.surname}}
        <div class="imageHeader mx-2">
            <img [src]="'http://localhost:3000/' + messagge.reciever.imagePath" class="img-card-top">
        </div>
    </div>
    <div class="card-body d-flex">
        <div class="imgUser">
            <img [src]="'http://localhost:3000/' + messagge.emitter.imagePath" class="img-card-top">
        </div>
        <div>
            <p class="card-text textEnviados">{{messagge.emitter.surname}} dice:</p>
            <p class="card-tex textEnviados">{{messagge.text}}</p>
        </div>
    </div>
</div>